---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rosa Cabrera | QA & Web Developer</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Hi, I'm Rosa 👋</h1>
    <h2>... and I'm transitioning from QA to Web Development!</h2>
    <p>I'm a QA with a Dev heart 💖</p>
    <p>
      I'm participating in freeCodeCamp's 2026 Spring Cohort, where I discovered
      my passion for Astro 🚀
    </p>
    <p>
      My journey so far it's been a ride! If you want to learn more on how I
      started back in 2009, take a look <a href="/posts/my-journey/">here</a> ✨!
    </p>
  </body>
</html>
