---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rosa Cabrera | QA & Web Developer</title>
  </head>
  <body>
    <h1>Hi, I'm Rosa 👋</h1>
    <p>
      Turning three years of experience in QA and bug hunting into a passion for
      building solutions with code.
    </p>
  </body>
</html>
